/*Navbar*/
.navbar{
  z-index: 1050; 
  position:fixed; 
  width: 100%;
}

#navbar_logo{ 
  width: 10vw;
  border: 0%;
  padding: 0%;
  top: 1vw;
  margin-top: 0%;
} 

@media (min-width: 1024px) {
  #navbar_logo { width: 5vw; }
}

@media (min-width: 601px) and (max-width: 1024px) {
  #navbar_logo { width: 15vw; }
}

@media (max-width: 600px) {
  #navbar_logo { width: 20vw; }
}

.espacio_botones_redes{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  text-align: center;
}

.img_facebook:hover {
  transform: scale(1.1);
}

@media (min-width: 1024px) {
  .img_facebook { width: 7vw; }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .img_facebook { width: 10vw; }
}

@media (max-width: 600px) {
  .img_facebook { width: 15vw; }
}
